{% extends 'baseTemplate.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00"/>
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/inventaire/liste.css?v=2025.10.22.08.00"/>
{% endblock %}
{% block content %}
<div class="sticky-header-titre">
		<div class="container">
				{% include "/cours_echange/menu_cours.html.twig" %}
				{% include "/cours_echange/_formulaireHisto.html.twig" %}
		</div>
</div>
<div class="container spaced mt-6">
	<table class="table rounded table-sticky text-center">
	<thead class="table-dark">
	<tr>
	<th>Devise</th>
	{% for item in libDate %}
		<th> {{item}}</th>
	{% endfor %}
	</tr>
	</thead>
	<tbody id="tableBody">
	</tbody>
	</table>
	<div class="text-center">
	</div>
</div>
{% endblock %}