<div class="my-2 d-flex flex-row">
    <button class="btn btn-warning fw-bold me-2">
        <a class="text-decoration-none text-dark" href="{{path('cours_echange')}}"> Cours de change</a>
	</button>
    <button class="btn btn-warning fw-bold me-2">
        <a class="text-decoration-none text-dark" href="{{path('historique_echange')}}">  Historique journalier</a>
	</button>
    <button class="btn btn-warning fw-bold">
        <a class="text-decoration-none text-dark" href="#">  Evolution mensuel</a>
	</button>
</div>