{% extends 'baseTemplate.html.twig' %}

{% block title %}Documentation Technique{% endblock %}

{% block body %}
    <h1>Documentation Technique</h1>

    {{ dump(documents) }} {# TEMPORARY DEBUG LINE #}

    {% if documents is not empty %}
        <ul>
            {% for doc in documents %}
                <li>
                    {# Le nom de la route pour voir un document sera 'app_doc_tech_show' #}
                    <a href="{{ path('app_doc_tech_show', {filename: doc.filename}) }}">{{ doc.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune documentation technique n'a été trouvée.</p>
    {% endif %}
{% endblock %}
