{% extends 'baseTemplate.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <a href="{{ path('app_doc_tech_index') }}">&larr; Retour à la table des matières</a>
    <hr>

    <div class="doc-content" style="margin-top: 20px;">
        <h1>{{ title }}</h1>
        {{ content|raw }}
    </div>
{% endblock %}
