.statut-a-transmettre {
  background-color: #cf0c0c !important;
  color: #ffffff !important;
}

.statut-transmise {
  background-color: #4ef177 !important;
}

.statut-cloturee {
  background-color: #062c0f !important;
  color: #ffffff !important;
}

.statut-refusee {
  background-color: #f8d7da !important;
}

.statut-ddpl-a-transférer,
.statut-bap-a-transmettre,
.statut-ddpr-a-transmettre,
.statut-ddpa-a-transmettre {
  background-color: #cf0c0c !important;
  color: #ffffff !important;
}

.statut-soumis-a-validation {
  background-color: #e4c229 !important;
  color: #0a0a0a !important;
}

.statut-valide {
  background-color: #4ef177 !important;
}

.statut-bap-a-valider-dir-admin {
  background-color: #29e4c5 !important;
  color: #0a0a0a !important;
}

.statut-refuse-par-chef-de-service,
.statut-refuse-compta {
  background-color: #e46f0f !important;
  color: #ffffff !important;
}