{{ form_start(form, { 'attr': {'id': 'daCdeEnvoyer'} }) }}

{{ form_row(form.dateLivraisonPrevue)}}
<div class="d-flex justify-content-end my-2">
	<button class="btn btn-warning fw-bold fst-italic" type="submit">
		Suivant</button>
</div>
{{ form_end(form) }}
