{% extends "baseTemplate.html.twig"%}

{% block title %}
	Nouveau contrat
{% endblock %}

{% block stylesheets %}
	{# <link href="{{ App.base_path }}/Views/css/404.css?v=2025.08.29.16.20" rel="stylesheet"> #}
{% endblock %}

{% block content %}
	<div class="container text-center mt-6 mb-4">
		<iframe src="https://hffc.docuware.cloud/docuware/formsweb/enregistrement-contrats?orgID=5adf2517-2f77-4e19-8b42-9c3da43af7be" frameborder="0" style="height:100vh;" width="100%" id="iframe-conge"></iframe>
	</div>
{% endblock %}

{% block javascript %}{% endblock %}
