<!DOCTYPE html>
<html lang="fr">
	<head>
		{% block head %}
			<meta charset="utf-8">

			<link rel="stylesheet" href="{{ webpack_asset("main.css")}}">
			<link
			rel="shortcut icon" href="{{ webpack_asset("images/favicon-2.png")}} " type="image/x-icon">
			{# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css"> #}
			{% block stylesheets %}{% endblock %}
			<title>
				{% block title %}
					Hff Intranet
				{% endblock %}
			</title>

		{% endblock %}
	</head>
	<body>
		<div id="loading-overlays">
			<div class="spinner-overlay"></div>
			<div class="text-overlay text-white">Veuillez patienter s'il vous plaît!</div>
		</div>
		{% block overlay %}{% endblock %}
		<div class="main-content">
			<div class="content">
				{% block nav %}
					{% include "/main/Principe.html.twig" %}
				{% endblock %}

				{% block content %}{% endblock %}
			</div>
		</div>
		{% block footer %}
			{% include "/partials/_footer.html.twig" %}
		{% endblock %}

		{% include "/shared/_notificationToast.html.twig" %}
		{% include "/shared/_modalConfirmation.html.twig" %}

		<script src="{{ webpack_asset("main.js")}}"></script>

		<!-- numeral js pour manipuler les nombre en js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

		<!-- sweetalert -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<!-- selecte2 -->
		<!-- ckeditor pour wyswing -->
		<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>

		<!-- autocomplete -->
		<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>

		{% block javascript %}{% endblock %}
	</body>
</html>
