<p>
    Une nouvelle demande de support informatique a été créé par <b>{{ tab.userConnecter }}</b>.
</p>
<p>
    Numéro du nouveau ticket: <b>{{ tab.numTik }}</b> 
</p>
<p><b>Objet de la demande: </b>{{ tab.objet }}</p>
<p><b>Détail de la demande: </b>{{ tab.detail }}</p>
