<p>
    La demande de support informatique n° <b>{{ tab.numTik }}</b> a été validée par <b>{{ tab.userConnecter }}</b>.
</p>
<p>
    L'intervenant affecté à cette demande de support informatique est: <b>{{ tab.variable }}</b>
</p>