.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  counter-reset: flag;
}

.breadcrumb .breadcrumb-item {
  text-decoration: none;
  outline: none;
  display: block;
  font-size: 12px;
  line-height: 25px;
  padding: 0 10px 0 20px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
  transition: all 0.5s;
}

.breadcrumb .breadcrumb-item a {
  color: white;
  text-decoration: none;
  display: block;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb .breadcrumb-item:first-child {
  padding-left: 10px;
  border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb .breadcrumb-item:first-child:before {
  left: 14px;
}
.breadcrumb .breadcrumb-item:last-child {
  border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb .breadcrumb-item.active,
.breadcrumb .breadcrumb-item:hover {
  background: #333;
  background: linear-gradient(#333, #000);
}
.breadcrumb .breadcrumb-item.active:after,
.breadcrumb .breadcrumb-item:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb .breadcrumb-item:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -10px;
  width: 19px;
  height: 19px;
  transform: rotate(45deg);
  z-index: 1;
  background: linear-gradient(135deg, #666, #333);
  box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px #ccc;
  border-radius: 5px 5px 5px 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb .breadcrumb-item:last-child:after {
  content: none;
}

.flat .breadcrumb-item a {
  color: #fbbb01;
}

.flat .breadcrumb-item:before {
  background: #000;
  box-shadow: 0 0 0 1px #ccc;
}
.flat .breadcrumb-item:hover,
.flat .breadcrumb-item.active,
.flat .breadcrumb-item:last-child,
.flat .breadcrumb-item:hover:after,
.flat .breadcrumb-item.active:after,
.flat .breadcrumb-item:last-child:after {
  background: linear-gradient(355deg, #ffdd55, #fbbb01);
}

.flat .breadcrumb-item:hover a,
.flat .breadcrumb-item.active a,
.flat .breadcrumb-item:last-child a {
  color: black;
  font-weight: bold;
}
