<div class="modal" tabindex="-1" id="listeCommande">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Listes des commandes
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			{# body du modal#}
			<div class="modal-body">

				<table class="table rounded mt-1">
					<thead class="table">
						<tr>
							<th>N°</th>
							<th>Date</th>
							<th>type de la commande</th>
							<th>Statut command</th>
							<th>Statut livraison</th>
						</tr>
					</thead>
					<tbody id="commandesTableBody">{# {% for command in commandes %} #}
						{# <tr> #}
						{# <td>{{ command.slor_numcf}}</td> #}
						{# <td>{{ command.fcde_date}}</td> #}
						{# <td>--</td> #}

						{# </tr> #}
						{# {% endfor %} #}
					</tbody>
				</table>
			</div>
			{# Footer du modal#}
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
