.nav-top {
    color: white;
    background-color: #212529;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* **********CONVERSATION********** */

.conversation { 
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow:hidden;
}
.talk {
    color: #f1f1f1;
    display: flex;
    align-items: center;
    width: 75%;
  
}
.talk img {
    width: 50px;
    border-radius: 50%;
    margin-bottom: auto;
}

.talk p {
    padding: 15px;
    line-height: 25px;
    border-radius: 20px;
    /* background: #000; */
}
.right {
    margin-left: auto;
    justify-content: flex-end;
}
.right p {
    background: #ffc107;
    color: black;
}
.left p {
    margin-left: 10px;
    background: rgb(216,216,216);
    color: #000;
}

/* **********FORM********** */

.chat-form {
    flex-shrink: 0;
    width: 100%;
    height: 90px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-inputs-stuffs {
    background: #fff;
    display: flex;
    width: 90%;
    height: 60px;
    border-radius: 9999px;
}

.group-inp {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group-inp img {
    width: 30px;
}
.group-inp textarea {
    resize: none;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding-top: 10px;
}

.files-logo-cont {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 10px;
    display: block;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.files-logo-cont img {
    width: 30px;
}

.submit-msg-btn {
    background: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 70px;
    border: none;
    display: flex;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
}

.submit-msg-btn img {
    width: 30px;
}