.ouvert
{
    background-color: red ! important;
    font-weight: bold;
}

.refuse
{
    background-color: orangered ! important;
    color: white;
        font-weight: bold;
}

.encours
{
    background-color: cyan ! important;
    color: #000 !important;
}

.planifie
{
    background-color: violet ! important;
    font-weight: bold;
}

.resolu
{
    background-color: greenyellow ! important;
    font-weight: bold;
}

.reouvert
{
    background-color: yellow ! important;
    font-weight: bold;
}

.cloture
{
    background-color: green ! important;
    color: white;
    font-weight: bold;
}