{% extends "baseTemplate.html.twig"%}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/accueil.css">
{% endblock %}

{% block breadCrumb %}{% endblock %}

{% block bandeau %}
	<span class="vignette-bande">
		<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem minima voluptatibus adipisci labore est at ipsum deleniti numquam repellat eaque veritatis sunt voluptates porro, ut corporis eius sint, exercitationem laborum.</span>
	</span>
{% endblock %}

{% block content %}
	<div class="container">
		{% include "/partials/_notification.html.twig" %}
		{% include 'partials/_vignettes.html.twig' with {'menuItems': menuItems} %}
	</div>
{% endblock %}
