{% extends "baseTemplate.html.twig"%}

{% block content %}

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 1%;">
     <div class="container">
        <a class="navbar-brand" href="/Hffintranet/index.php?action=Acceuil"><img src="/Hffintranet/Views/assets/logoHFF.jpg" id="LogoHFF" alt="" width="150px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color: #fbbb01;">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <!-- DEBUT Bordereau d’acquisition et de Mouvement Matériel -->
                {% if infoUserCours[1].App == 'BDM' %}
                <li class="nav-item dropdown" id="BDM">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Mouvement matériel (BADM)</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/Hffintranet/index.php?action=formBadm">Nouvelle Demande </a></li>
                        <li><a class="dropdown-item" href="/Hffintranet/index.php?action=listBadm">Consultation</a></li>
                    </ul>
                </li>
                {% endif %}
                <!-- FIN Bordereau d’acquisition et de Mouvement Matériel -->


                
                <!-- DEBUT Demande d'odre de mission -->
                {% if infoUserCours[0].App == 'DOM' %}
                <li class="nav-item dropdown" id="DOM">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Ordre de Mission</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/Hffintranet/index.php?action=New_DOM">Nouvelle Demande </a></li>
                        <li><a class="dropdown-item" href="/Hffintranet/index.php?action=ListDomRech">Consultation</a></li>
                    </ul>
                </li>
                {% endif %}
                <!-- FIN Demande d'odre de mission -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Demande d'Intervention</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Nouvelle Demande d'Intervention</a></li>
                        <li><a class="dropdown-item" href="#">Liste des demandes d'Intervention </a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Demande d'Appro</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Nouvelle Demande d'Appro</a></li>
                        <li><a class="dropdown-item" href="#">Liste des demandes d'Appro</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Support Info</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Nouveau Support</a></li>
                        <li><a class="dropdown-item" href="#">Liste de Support </a></li>

                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fbbb01;">{{ infoUserCours.0.Utilisateur}}</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <!-- <li><a class="dropdown-item" href="/Hffintranet/index.php?action=Propos">Mes accès</a></li>
                        <li><a class="dropdown-item" href="#" id="Setting">paramètre</a></li>
                        <li><a class="dropdown-item" href="/Hffintranet/index.php?action=Personnels" id="Perso">Personnels</a></li>
                        <li><a class="dropdown-item" href="#" id="AgServ">Agence-Service </a></li>
                        <li><a class="dropdown-item" href="/Hffintranet/index.php?action=TypeDoc" id="TypeDoc">Type de Document</a></li>
                        <li><a class="dropdown-item" href="/Hffintranet/index.php?action=Statut" id="TypeDoc">Statut App</a></li>-->
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="/Hffintranet/index.php?action=Logout">Déconnection</a></li>
                    </ul>
                </li>


                {% if boolean %}
                <li class="nav-item dropdown" id="Setting">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fbbb01;">Setting</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" id="Perso">Personnels</a></li>
                        <li><a class="dropdown-item" href="#" id="AgServ">Agence-Service </a></li>
                        <li><a class="dropdown-item" href="/Hffintranet/index.php?action=TypeDoc">Type de Document</a></li>
                        <li><a class="dropdown-item" href="/Hffintranet/index.php?action=Statut">Statut App</a></li>
                        <li><a class="dropdown-item" href="/Hffintranet/index.php?action=AgenceAutoriser">Autorisation AgenceService</a></li>

                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav> 


<div class="container">
    
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/Hffintranet/Views/assets/PIC03.jpg" alt="Los Angeles" class="d-block" style="width:100%" height="auto">
                </div>
                <div class="carousel-item">
                    <img src="/Hffintranet/Views/assets/PIC01.jpg" alt="Chicago" class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="/Hffintranet/Views/assets/PIC02.jpg" alt="New York" class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="/Hffintranet/Views/assets/PIC04.jpg" alt="chine" class="d-block" style="width:100%">
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
</div>
    {% endblock %}