{% extends "baseTemplate.html.twig"%}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/accueil.css?v=2025.10.22.08.00">
{% endblock %}

{% block title %}
	Accueil
{% endblock %}

{% block breadCrumb %}{% endblock %}

{% block bandeau %}
	<span class="vignette-bande">
		{% for i in 0..4 %}
			<span>
				17/10/2025 - V20251017.3.1.0 :
				<div class="news-ticker">
					 APPRO – ACHAT DIRECTE : Déployé pour les 
					agences 90, 91 et 92.
					 APPRO – ACHAT REAPPRO MENSUEL :
					Dématérialisé et déployé pour les agences 90, 91 et 92.
					 APPRO – liste des commandes fournisseurs : Le 
					service Appro peut désormais pointer les articles non 
					disponibles chez les fournisseurs.
					Il a également la possibilité de générer d’autres 
					demandes d’approvisionnement avec ces articles non 
					disponibles ou de les supprimer.
					 ATELIER – Formulaire de création d’une DIT :
					o « ATE POL TANA » rajouté dans la liste des 
					ateliers effectuant les travaux
					o Rajout de l’option « intervention 
					pneumatique » dans la fiche de création.
					Cette option permet de générer 
					automatiquement une deuxième DIT dédiée à 
					l’atelier pneumatique de Tana.
					 POL – MAGASIN : Déploiement des interfaces
					o Liste des Ors à traiter
					o Liste des Ors à livrer
					o Liste des CIS à traiter
					o Liste des CIS à livrer
				</div>
			</span>
		{% endfor %}
	</span>
{% endblock %}

{% block content %}
	<div class="container" id="hasDAP" data-has-dap="{{ appsByCode.DAP }}">
		{% include "/partials/_notification.html.twig" %}
		{% include 'partials/_vignettes.html.twig' with {'menuItems': menuItems} %}
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/accueil/script.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
