{% extends "baseTemplate.html.twig"%}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/accueil.css?v=2025.10.22.08.00">
{% endblock %}

{% block title %}
	Accueil
{% endblock %}

{% block breadCrumb %}{% endblock %}

{% block bandeau %}
	<span class="vignette-bande">
		{% for i in 0..4 %}
			<span>
				31/10/2025 - V20251031.4.0.0 :
				<div class="news-ticker">
					<ul>
						<li>
							<b>APPRO – ACHAT DIRECTE :</b>Déployé pour les agences 90, 91 et 92.
						</li>
						<li>
							<b>APPRO – ACHAT REAPPRO MENSUEL :</b>Dématérialisé et déployé pour les agences 90, 91 et 92.
						</li>

						<li>
							<b>APPRO – liste des commandes fournisseurs :</b>Le service Appro peut désormais pointer les articles non disponibles chez les fournisseurs. Il a également la possibilité de générer d’autres demandes d’approvisionnement avec ces articles non disponibles ou de les supprimer.
						</li>
						<li>
							<b>ATELIER – Formulaire de création d’une DIT :</b>
							<ul>
								<li>« ATE POL TANA » rajouté dans la liste des ateliers effectuant les travaux.</li>
								<li>Rajout de l’option « intervention pneumatique » dans la fiche de création. Cette option permet de générer automatiquement une deuxième DIT dédiée à l’atelier pneumatique de Tana.
								</li>
							</ul>
						</li>
						<li>
							<b>POL – MAGASIN :</b>
							Déploiement des interfaces
							<ul>
								<li>Liste des ORs à traiter</li>
								<li>Liste des ORs à livrer</li>
								<li>Liste des CIS à traiter</li>
								<li>Liste des CIS à livrer</li>
							</ul>
						</li>
					</ul>
				</div>
			</span>
		{% endfor %}
	</span>
{% endblock %}

{% block content %}
	<div class="container" id="hasDAP" data-has-dap="{{ appsByCode.DAP }}">
		{% include "/partials/_notification.html.twig" %}
		{% include 'partials/_vignettes.html.twig' with {'menuItems': menuItems} %}
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/accueil/script.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
