{% extends "baseTemplate.html.twig"%}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/accueil.css?v=2025.09.15.08.00">
{% endblock %}

{% block title %}
	Accueil
{% endblock %}

{% block breadCrumb %}{% endblock %}

{% block bandeau %}
	<span class="vignette-bande">
		{% for i in 0..4 %}
			<span>
				08/10/2025 - V20251008.3.0.0 :
				<div class="news-ticker">
					<ul>
						<li>
							<b>RH - Demande de congé :</b>
							Dématérialisée pour le service : INF, APPRO, UMP, PER, TRA, ASS
						</li>
						<li>
							<b>APPRO - Liste commande fournisseur :</b>
							<ul>
								<li>Le statut BC reste sur « BC envoyé au fournisseur » si la facture / bon de livraison client n’est pas encore soumis.</li>
								<li>Le statut BC « PAS DANS OR » ne s’affichera que pour les ORs validés.</li>
								<li>On peut désormais filtrer la liste des commandes fournisseurs par statut de la DA.</li>
								<li>Il est désormais possible d’exporter les commandes au format Excel.</li>
								<li>Il est désormais possible de trier la liste des commandes par nombre de jour dispo.</li>
							</ul>
						</li>
						<li>
							<b>APPRO - Détail demande d'achat :</b>
							<ul>
								<li>Les noms de tous les fichiers téléchargeables porteront les numéros des documents au lieu de l’index / autres.</li>
								<li>Les devis soumis par le service appro à l’atelier sont désormais consultables depuis la liste des documents rattachés.</li>
								<li>Possibilité de filtrer les factures correspondant à une commande fournisseur.</li>
							</ul>
						</li>
						<li>
							<b>APPRO - Liste des demandes d'achat :</b>
							<ul>
								<li>Ajout de la possibilité de trier par nombre de jours dispo.</li>
							</ul>
						</li>
						<li>
							<b>MAGASIN - Soumission BL FTU :</b>
							<ul>
								<li>Interface pour soumettre les sorties des pièces / lubs pour le magasin à Fort-Dauphin.</li>
							</ul>
						</li>
						<li>
							<b>ATELIER - Soumission OR :</b>
							<ul>
								<li>Ajout d’une possibilité de saisir une observation lors de la soumission d’un OR, l’observation est remontée dans la page de garde.</li>
							</ul>
						</li>
						<li>
							<b>ATELIER - Soumission RI :</b>
							<ul>
								<li>La soumission d’un RI est bloquée si le numéro de la DIT de la ligne de soumission ne correspond pas à la référence de la demande de l’OR.</li>
							</ul>
						</li>
						<li>
							<b>DOCUWARE - Validation facture OR :</b>
							<ul>
								<li>La validation manuelle des factures par un validateur est by-passée et remplacée par une auto-validation dans Docuware, lorsque l’intervention de l’OR validé et la facture de l’intervention à soumettre à validation présentent le même montant.</li>
							</ul>
						</li>
					</ul>
				</div>
			</span>
		{% endfor %}
	</span>
{% endblock %}

{% block content %}
	<div class="container" id="hasDAP" data-has-dap="{{ appsByCode.DAP }}">
		{% include "/partials/_notification.html.twig" %}
		{% include 'partials/_vignettes.html.twig' with {'menuItems': menuItems} %}
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/accueil/script.js?v=2025.09.15.08.00" type="module"></script>
{% endblock %}
