{% extends "baseTemplate.html.twig"%}
{% block nav %}
	{% include "/main/navPrincipe.html.twig" %}
{% endblock %}
{% block content %}
	<div class="row" style="background-image: url('/Hffintranet/Views/assets/PIC03.jpg'); background-size: cover; background-position: center;">
		<div class="col text-center">
			<a href="#">
				<img src="{{ asset("build/images/box.png")}}" alt="" width="300px">
				<div class="text-under-image  text-dark">MAGASIN</div>
			</a>
		</div>
		<div class="col"></div>
		<div class="col"></div>
	</div>
{% endblock %}
