{% extends "baseTemplate.html.twig" %}

    {% block stylesheets%}
        <link rel="stylesheet" href="/Hffintranet/Views/css/ListDomRech.css">
    {% endblock%}

    {% import "badm/macroForm.html.twig" as form %}

    {% block content %}

    <!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 1%;">
    <div class="container">
       <a class="navbar-brand" href="/Hffintranet/index.php?action=Acceuil"><img src="/Hffintranet/Views/assets/logoHFF.jpg" id="LogoHFF" alt="" width="150px"></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color: #fbbb01;">
           <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

               <!-- DEBUT Bordereau d’acquisition et de Mouvement Matériel -->
               {% if infoUserCours.1.App == 'BDM' %}
               <li class="nav-item dropdown" id="BDM">
                   <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Mouvement matériel (BADM)</a>
                   <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                       <li><a class="dropdown-item" href="/Hffintranet/index.php?action=formBadm">Nouvelle Demande </a></li>
                       <li><a class="dropdown-item" href="#">Consultation</a></li>
                   </ul>
               </li>
               {% endif %}
               <!-- FIN Bordereau d’acquisition et de Mouvement Matériel -->


               
               <!-- DEBUT Demande d'odre de mission -->
               {% if infoUserCours.0.App == 'DOM' %}
               <li class="nav-item dropdown" id="DOM">
                   <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Ordre de Mission</a>
                   <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                       <li><a class="dropdown-item" href="/Hffintranet/index.php?action=New_DOM">Nouvelle Demande </a></li>
                       <li><a class="dropdown-item" href="/Hffintranet/index.php?action=ListDomRech">Consultation</a></li>
                   </ul>
               </li>
               {% endif %}
               <!-- FIN Demande d'odre de mission -->

               <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Demande d'Intervention</a>
                   <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                       <li><a class="dropdown-item" href="#">Nouvelle Demande d'Intervention</a></li>
                       <li><a class="dropdown-item" href="#">Liste des demandes d'Intervention </a></li>

                   </ul>
               </li>

               <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Demande d'Appro</a>
                   <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                       <li><a class="dropdown-item" href="#">Nouvelle Demande d'Appro</a></li>
                       <li><a class="dropdown-item" href="#">Liste des demandes d'Appro</a></li>

                   </ul>
               </li>

               <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Support Info</a>
                   <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                       <li><a class="dropdown-item" href="#">Nouveau Support</a></li>
                       <li><a class="dropdown-item" href="#">Liste de Support </a></li>

                   </ul>
               </li>


               <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fbbb01;">{{ infoUserCours.0.Utilisateur}}</a>
                   <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                       <!-- <li><a class="dropdown-item" href="/Hffintranet/index.php?action=Propos">Mes accès</a></li>
                       <li><a class="dropdown-item" href="#" id="Setting">paramètre</a></li>
                       <li><a class="dropdown-item" href="/Hffintranet/index.php?action=Personnels" id="Perso">Personnels</a></li>
                       <li><a class="dropdown-item" href="#" id="AgServ">Agence-Service </a></li>
                       <li><a class="dropdown-item" href="/Hffintranet/index.php?action=TypeDoc" id="TypeDoc">Type de Document</a></li>
                       <li><a class="dropdown-item" href="/Hffintranet/index.php?action=Statut" id="TypeDoc">Statut App</a></li>-->
                       <li>
                           <hr class="dropdown-divider" />
                       </li>
                       <li><a class="dropdown-item" href="/Hffintranet/index.php?action=Logout">Déconnection</a></li>
                   </ul>
               </li>


               {% if boolean %}
               <li class="nav-item dropdown" id="Setting">
                   <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fbbb01;">Setting</a>
                   <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                       <li><a class="dropdown-item" href="#" id="Perso">Personnels</a></li>
                       <li><a class="dropdown-item" href="#" id="AgServ">Agence-Service </a></li>
                       <li><a class="dropdown-item" href="/Hffintranet/index.php?action=TypeDoc">Type de Document</a></li>
                       <li><a class="dropdown-item" href="/Hffintranet/index.php?action=Statut">Statut App</a></li>
                       <li><a class="dropdown-item" href="/Hffintranet/index.php?action=AgenceAutoriser">Autorisation AgenceService</a></li>

                   </ul>
               </li>
               {% endif %}
           </ul>
       </div>
   </div>
</nav> 






    <!-- DEBUT recherche -->
    <div class="row">
        <div class="container">
            <div class="row">
                <!-- <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="input-group mb-2">
                        <span class="input-group-text">Type de mouvement</span>
                        <select name="typeMouvement" id="typeMouvement" class="form-control">
                        </select>
                    </div>
                </div> --> 
                {{form.select_1('typeMouvement', 'Type de mouvement', typeMouvement,{endpoint: '12', class: 'col-lg-4 col-md-6 col-xl-3'})}}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="input-group mb-2">
                        <span class="input-group-text">Id matériel</span>
                        <input type="search" name="idMateriel" id="idMateriel" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <small class="dateCreationMessage" id="dateCreationMessage"></small>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                <div class="input-group mb-2">
                    <span class="input-group-text">Date de demande (début)</span>
                    <input type="date" name="dateDemandeDebut" id="dateDemandeDebut" class="form-control">
                </div>
            </div>
            <small class="dateCreationMessage" id="dateCreationMessage"></small>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                <div class="input-group mb-2">
                    <span class="input-group-text">Date de demande (fin)</span>
                    <input type="date" name="dateDemandeFin" id="dateDemandeFin" class="form-control">
                </div>
            </div>
        </div>


        <!-- FIN recherche -->




        <!-- DEBUT bouton -->
        <div class="row justify-content-center mx-6">
            <div class="col-xxl-4">
                <input type="submit" name="recherche" id="recherche" class="btn  fw-bold" style="background-color: #FBBB01 ;" value="Rechercher">
                <input type="submit" name="recherche" id="reset" class="btn btn-dark text-white" value="Effacer">
                <input type="submit" name="exportExcel" id="export" class="btn btn-success" value="Export Excel">
            </div>
        </div>
        <!-- FIN bouton -->



        <!-- DEBUT affichage de text no resultat -->
        <div id="noResult">

        </div>
        <!-- FIN -->



        <!-- DEBUT nombre  -->
        <div class=" row justify-content-center mx-6">
            <!-- <div class="col-6 mp-8">
                <select class="bg-dark text-white" name="nombreLigne" id="nombreLigne">
                    <option value="15">15</option>
                    <option value="100">100</option>
                </select>
            </div> -->

            <div class="col-4 ">
                <p class="fw-bold" id="nombreResultat"></p>
            </div>

        </div>
        <!-- FIN nombre-->



        <!-- DEBUT tableau -->
        <div class="Contenue table-plein-ecran">
            <div>
                <table class="table  table-striped table-shadow shadow  rounded ">
                    <thead class="table-dark">
                        <tr>
                            <th style="text-align: center;">Action</th>
                            <th>ID</th>
                            <th>Statut</th>
                            <th>Sous type</th>
                            <th>N° BDM</th>
                            <th>Code de Mouvement</th>
                            <th>ID Materiel</th>
                            <th>Date de Demande</th>
                            <th>Agence/Service Emetteur</th>
                            <th>Casier Emetteur</th>
                            <th>Agence/Service Destinataire</th>
                            <th>Casier Destinataire</th>
                            <th>Motif d'Arret</th>
                            <th>Etat_Achat</th>
                            <th>Date Mise Location</th>
                            <th>Cout d'Acquisition</th>
                            <th>Amortissement</th>
                            <th>VNC</th>
                            <th>Nom de Client</th>
                            <th>Modalite de Paiement</th>
                            <th>Prix de Vente HT</th>
                            <th>Motif de Mise au Rebut</th>
                            <th>Heure machine</th>
                            <th>KM_machine</th>
                        </tr>
                    </thead>
                    <tbody id="table-container">

                    </tbody>
                </table>
            </div>
        </div>
        <!-- FIN tableau -->
        <div class="container ">
            <div id="pagination-wrapper"></div>
        </div>
        <!-- DEBUT Pagination -->
        <nav class=col-9>
            <ul class="pagination justify-content-end">

            </ul>
        </nav>
        <!-- FIN Pagination -->

    </div>
    {% endblock %}

    {% block javascript %}
        <script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
         <script src="/Hffintranet/Views/js/badm/listBadm.js"></script> 
        
    {% endblock %}