<div class="modal fade" tabindex="-1" id="commentaire" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable custom-width" style="max-width:35%;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Petit détail du ticket
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			{# body du modal#}
			<div
				class="modal-body">
				<!-- Contenu des données -->
				<div class="card">
					<div class="card-header">
						Dernier commentaire émis sur le ticket
					</div>
					<div class="card-body">
						<div id="text-content"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
