<!-- Modal de confirmation -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold m-auto" id="confirmationModalLabel">Déverouillage de la DA</h5>
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body text-center">
        <p class="mb-0">Êtes-vous sûr de vouloir continuer&nbsp;?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
        <button type="button" class="btn btn-primary" id="confirmActionBtn">Oui</button>
      </div>
    </div>
  </div>
</div>
