<span class="vignette-bande">
	{% for i in 0..4 %}
		<span>
			03/04/2026 - V20260403.7.2.2 :
			<div class="news-ticker">
				<ul>
					<li>
						<b>APPRO – Statut :</b>
						<ul>
							<li>
								Pour les demandeurs, les statuts ont été factorisées pour faciliter les suivis des demandes d’achat.
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</span>
	{% endfor %}
</span>
