<span class="vignette-bande">
	{% for i in 0..4 %}
		<span>
			18/12/2025 - V20251218.6.1.0 :
			<div class="news-ticker">
				<ul>
					<li>
						<b>MAGASIN – Devis :</b>
						<ul>
							<li>Récupération des BC/PO validées dans l’interface de suivi des validations des devis</li>
						</ul>
					</li>
				</ul>
			</div>
		</span>
	{% endfor %}
</span>
