<span class="vignette-bande">
	{% for i in 0..4 %}
		<span>
			27/02/2026 - V20260227.7.1.1 :
			<div class="news-ticker">
				<ul>
					<li>
						<b>ATELIER – Soumission devis pour vérification de prix :</b>
						<ul>
							<li>
								Rajout d’une tâche à effectuer par le Parts Manager :
								<ul>
									<li>
										Vérif prix et calcul de fret DHL.
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<b>MAGASIN – Devis négoce :</b>
						<ul>
							<li>
								Identification des devis à relancer.
							</li>
							<li>
								Historisation des relances effectuées sur un devis.
							</li>
							<li>
								Rajout d’une option de refus d’un devis avec sélection obligatoire du motif.
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</span>
	{% endfor %}
</span>
