<span class="vignette-bande">
	{% for i in 0..4 %}
		<span>
			14/11/2025 - V20251114.5.0.0 :
			<div class="news-ticker">
				<ul>
					<li>
						<b>APPRO – ACHAT RÉAPPRO MENSUEL :</b>
						<ul>
							<li>
								<b><u>Reporting IPS appro</u> :</b>
								<ul>
									<li>Amélioration de la représentation des données sous forme de matrice.</li>
								</ul>
							</li>
							<li>
								<b><u>Formulaire de création</u> :</b>
								<ul>
									<li>Ajout de la possibilité de sélectionner une centrale pour l’agence Énergie.</li>
								</ul>
							</li>
							<li>
								<b><u>Historique de consommation</u> :</b>
								<ul>
									<li>Ajout du montant mensuel dans les récapitulatifs de consommation.</li>
									<li>Ajout dans les documents à valider par le chef de service émetteur.</li>
									<li>Ajout dans l’interface de validation des demandes d’achat de réapprovisionnement par le service Appro.</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<b>COMPTA – BON DE CAISSE :</b>
						<ul>
							<li>Les demandes de BCS sont désormais dématérialisées.</li>
							<li>Déployé pour l’agence de Fort-Dauphin.</li>
						</ul>
					</li>
					<li>
						<b>RH – CONGÉ :</b>
						<ul>
							<li>
								Formulaire d’annulation des congés :
								<ul>
									<li>Déployé pour le personnel du service RH.</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<b>ATELIER – SOUMISSION OR :</b>
						<ul>
							<li>
								Contrôle des pièces :
								<ul>
									<li>Les pièces à faible activité d’achat sont désormais signalées en alerte.</li>
									<li>Affichage dans le document de contrôle pour la validation des ORs.</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</span>
	{% endfor %}
</span>
