<span class="vignette-bande">
	{% for i in 0..4 %}
		<span>
			29/05/2026 - V20260529.8.0.0 :
			<div class="news-ticker">
				<ul>
					<li>
						<b>Demande de paiement DDP</b>
						: Les demandes de paiement des factures fournisseurs locaux rattachées à une demande appro ont été dématérialisées. Les types de demandes de paiement traités sont :
						<ul>
							<li>
								<b>« à l’avance »</b>
							</li>
							<li>
								<b>« après arrivage »</b>
							</li>
							<li>
								<b>« bon à payer »</b>
							</li>
							<li>
								<b>« régularisation »</b>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</span>
	{% endfor %}
</span>
