<footer class=" mt-4 pb-3" style="background: #212529">
	<hr>
	<p class="text-center text-white m-0">&copy; 2024 hffintranet</p>
	<img src="/Hffintranet/Views/assets/logoHFF.jpg" alt="logo HFF" width="150px" class="d-block mx-auto">
</footer>
