<nav class="navbar navbar-expand-lg  sticky-top border-bottom mb-3">
	<div
		class="container px-0">
		<!-- Logo -->
		<a class="navbar-brand ms-3" href="{{ path('profil_acceuil') }}">
			<img src="{{ asset('build/images/logoHFF.jpg') }}" id="LogoHFF" alt="Logo HFF" style="height: 40px;">
		</a>

		<!-- Bouton burger -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Contenu -->
		<div class="collapse navbar-collapse" id="mainNavbar">
			<div
				class="d-lg-flex justify-content-between w-100 align-items-center">

				<!-- Fil d'Ariane centré -->
				<div class="my-2 my-lg-2 flex-grow-1 text-center">
					{% include 'partials/_breadcrumb.html.twig' %}
				</div>

				<!-- Menu utilisateur -->
				<ul class="navbar-nav ms-lg-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fbbb01;">
							{{ App.user.Personnels.prenoms ~ '.' ~ App.user.Personnels.nom }}
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
							<li>
								<a class="dropdown-item" href="{{ path('auth_deconnexion') }}" id="logoutLink">Déconnexion</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
