<p>
	Une Bon d'Achat a été crée par
	<b>{{ tab.userConnecter }}</b>
	pour le demande d'APPROVISIONNEMENT n°
	<b>{{ tab.numDa }}</b>
	.
</p>
<p>
	<b>Détails de la demande:</b>
	<ul>
		<li>
			<b>Numéro du DA :</b>
			{{ tab.numDa }}
		</li>
	</ul>
</p>
