<div class="email-header">
	{{ numDa }}
	- 
	{% if statut in ['validationDa', 'validationAteDa'] %}
		PROPOSITION(S) 
		<span class="validationDa">
			VALIDÉE(S) PAR L’
			{% if tab.service == 'atelier' %}
				ATELIER
			{% elseif tab.service == 'appro' %}
				APPRO
			{% endif %}
		</span>
	{% elseif statut == 'commente' %}
		OBSERVATION AJOUTÉE PAR L’
			{% if tab.service == 'atelier' %}
				ATELIER
			{% elseif tab.service == 'appro' %}
				APPRO
			{% endif %}
	{% else %}
	DEMANDE D'APPROVISIONNEMENT
	<span class="{{ statut }}">
		{% if statut == "newDa" %}
			CRÉÉ
		{% elseif statut == 'bonAchatDa' %}
			BON D'ACHAT
		{% elseif statut == 'propositionDa' %}
			PROPOSITION
		{% elseif statut == 'modificationDa' %}
			MODIFICATION
		{% elseif statut == 'demandeDeverouillage' %}
			DEMANDE DE DÉVERROUILLAGE
		{% elseif statut == 'confirmationDeverrouillage' %}
			DEMANDE DÉVERROUILLÉE
		{% endif %}
	</span>
	{% endif %}
</div>
